annotated_types==0.7.0
anyio==4.9.0
beautifulsoup4==4.13.4
cffi==1.17.1
click==8.2.0
diskcache==5.6.3
docstring_parser==0.16
docx2txt==0.9
Faker==37.1.0
fastapi==0.115.12
PyMuPDF==1.23.26
gender_guesser==0.4.0
GitPython==3.1.44
gradio==5.29.0
huggingface_hub==0.29.3
instructor==1.8.1
Jinja2==3.1.6
langchain==0.3.25
langdetect==1.0.9
Markdown==3.7
matplotlib==3.10.3
numpy==1.26.4
openai==1.78.1
pandas==1.5.3
Pillow==11.2.1
pydantic==2.11.4
pydantic_settings==2.9.1
pydub==0.25.1
pylatexenc==2.10
PyPDF2==3.0.1
PyQt6==6.9.0
PyQt6_sip==13.10.0
pyshader==0.7.0
pytesseract==0.3.13
pytest==8.3.5
PyYAML==6.0.2
Requests==2.32.3
safetensors==0.5.3
scipy==1.15.3
seaborn==0.13.2
selenium==4.32.0
sentence_transformers==4.1.0
sentencepiece==0.2.0
setuptools==68.2.0
sphinx_material==0.0.36
sse_starlette==2.2.1
starlette==0.46.2
starlette_context==0.4.0
tabulate==0.9.0
tiktoken==0.9.0
torch==2.5.1
tqdm==4.67.1
transformers==4.50.3
tts==0.22.0
typer==0.15.3
typing_extensions==4.13.2
uvicorn==0.34.2
wget==3.2
